<% include ./partials/header %>

<div class="row text-center">
	<% characters.forEach((character) => { %>
		<div class="col-md-3 col-sm-6">
			<div class="card card-width">
				<div class="card-body">
					<h5 class="card-title"><%= character.name %></h5>
					<p class="card-text">
						Class: <%= character.jobs.length > 0 ? character.jobs.slice(-1)[0].name : "" %>
					</p>
					<p class="card-text">
						Weapon: <%= character.weapon.length === 0 ? "None" : character.weapon %>
					</p>
					<p class="card-text">HP: <%= character.hp %></p>
					<p class="card-text">Speed: <%= character.spd %></p>
					<div>
						<p class="card-text">Choose Skill: </p>
						<select class="selectSkill">
							<% var charaval = character.str + "/" + character.mag + "/" + character.dex %>
							<option disabled selected> -- select skill -- </option>
							<% character.jobs.forEach((job) => { %>
								<% job.skills.forEach((skill) => { %>
									<% var val = skill.type + "/" + skill.acc + "/" + skill.max + "/" + skill.min + "/" + skill.times + "/" %>
									<% val += charaval %>
									<option value="<%= val %>"><%= skill.name %></option>
								<% }); %>
							<% }); %>
						</select>
						<p class="card-text skillOut"></p>
						<button class="btn btn-sm btn-success useSkill" disabled>Use skill</button>
						<button class="btn btn-sm btn-danger dealDamage" hidden>Attack</button>
					</div>
				</div>
			</div>
		</div>
	<% }); %>
</div>

<div class="row text-center">
	<div class="col-10">
		<div class="card">
			<div class="card-body">
				<p class="card-text">
					Damage Roll: 
					<span id="damageInfo"></span>
					<span id="damageDealt"></span>
				</p>
				<p class="card-text" id="damageResult"></p>
			</div>
		</div>
	</div>
	<div class="col-2">
		<div class="card">
			<div class="card-body">
				<% 
					var sortChar = [];
					characters.forEach((character) => {
						var sortObj = {name: character.name, spd: character.spd};
						sortChar.push(sortObj);
					});
					sortChar.sort((a, b) => (a.spd < b.spd) ? 1 : -1);
				%>
				<p class="card-text">
					Turn Order: <br>
					<% sortChar.forEach((sorted) => { %>
						<%= sorted.name %><br>
					<% }); %>
				</p>
			</div>
		</div>
	</div>
</div>

<a class="btn btn-sm btn-danger" href="/trpg">Go Back</a>

<% include ./partials/footer %>