<% include ../partials/header %>

<a class="btn btn-sm btn-primary" href="/job/new">Create new job</a>

<div class="row text-center">
	<% jobs.forEach((job) => { %>
		<div class="col-md-3 col-sm-6">
			<div class="card card-width">
				<div class="card-body">
					<h5 class="card-title"><%= job.name %></h5>
					<a class="btn btn-sm btn-warning" href="/job/<%= job._id %>/edit">Edit Job</a>
					<form class="delete-form" action="/job/<%= job._id %>?_method=DELETE" method="POST">
						<button class="btn btn-sm btn-danger">Delete</button>
					</form>
					<p class="card-text">Joblvl: <%= job.joblvl %></p>
					<p class="card-text">Prerequisite job: <%= (!job.req || job.req === "") ? "None" : job.req %></p>
					<p class="card-text">Skill: 
						<ul>
							<% job.skills.forEach((skill) => { %>
								<li class="card-text"><%= skill.name %></li>
							<% }); %>
						</ul>
					</p>
				</div>
			</div>
		</div>
	<% }); %>
</div>

<a class="btn btn-sm btn-danger" href="/trpg">Go Back</a>

<% include ../partials/footer %>